Tests/node_modules/*
Tests/cypress/.idea/*
Tests/cypress/videos/*
Tests/results/*
Tests/.DS_Store
/Tests/cypress/buffer.js
/Tests/allure-results/
/Tests/allure-report/
/Tests/cypress/screenshots/
.idea/*
