Tests/node_modules/*
Tests/cypress/.idea/*
Tests/cypress/videos/*
Tests/results/*
Tests/.DS_Store
/Tests/cypress/buffer.js
/.idea/
/Tests/allure-results/
/Tests/allure-report/
/Tests/cypress/screenshots/
# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml